rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para a coleção de usuários
    // Permite que um usuário autenticado crie seu próprio documento.
    // Apenas o próprio usuário pode ler, atualizar ou deletar seu documento.
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Regra para a coleção de produtos
    match /products/{productId} {
      // Qualquer usuário autenticado pode ler a lista de produtos.
      allow read: if request.auth != null;
      
      // Qualquer usuário autenticado pode criar um produto.
      allow create: if request.auth != null;
      
      // Apenas o dono do produto (ownerId) pode atualizá-lo ou excluí-lo.
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }
  }
}