rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Regra para a coleção de usuários
    // Permite que um usuário autenticado crie seu próprio documento.
    // Apenas o próprio usuário pode ler, atualizar ou deletar seu documento.
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Adicione outras regras para outras coleções aqui.
    // Por padrão, todas as outras coleções estão bloqueadas.
  }
}